name: ci

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest
      - name: Install
        run: bun install
      - name: Lint
        run: bun run lint
      - name: Test
        run: bun run test
      - name: Type + rules check
        run: bun run check
      - name: Build package
        run: bun run build
